@import url('https://fonts.cdnfonts.com/css/brittany-signature');
@import url('https://fonts.cdnfonts.com/css/satoshi');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    background: linear-gradient(135deg, #432371, #714674, #9F6976, #CC8B79);
    font-size: 16px;
  }


  .logo {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Brittany Signature', sans-serif;
    color: #FFFFFF;
  
      transition: all 0.3s ease 0s;
  
    cursor: pointer;
  }
  
  .logo:hover {
    color: #008888;
  }
  
  .nav_items {
    display: flex;
  }
  
  .nav_item a{
    padding: 0 20px;
    font-family: 'Satoshi';
    font-weight: 300; 
    font-size: 1.1rem;
    color: #FFFFFF;
    text-decoration: none;
  
      transition: all 0.3s ease 0s;
  }
  
  .nav_item a:hover {
    color: #0088A9;
  
    text-decoration: underline;
  
    cursor: pointer;
  }
  
  .login_button a{
    padding: 10px 25px;
    border-radius: 50px;
    margin-left: 20px;
  
    color: #FFFFFF;
    background-color: #0088A9;
  
    font-weight: 600;
    text-decoration: none;
  
      transition: all 0.3s ease 0s;
  
    cursor: pointer;
  }
  
  .login_button a:hover {
    background-color: #008888;
    opacity: 0.8;
  }